name: Release

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        run: make setup
      - name: Build
        run: make
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bl32_qemu.bin
            bl33_qemu.bin
            bl32_fvp.bin
            bl33_fvp.bin
